{
  "trustauthority_url": "https://portal.trustauthority.intel.com",
  "trustauthority_api_url": "https://api.trustauthority.intel.com",
  "trustauthority_api_key": "{{ lookup('ansible.builtin.env', 'trustauthority_api_key') }}"
}