[Unit]
Description=FastChat Controller Service
After=network.target

[Service]
User=root
Group=root
WorkingDirectory=/usr/local/lib/python3.10/dist-packages/fastchat/serve
ExecStart=/usr/bin/python3 /usr/local/lib/python3.10/dist-packages/fastchat/serve/controller.py --host 0.0.0.0
Restart=always
RestartSec=10
Environment="CPU_ISA=amx"
Environment="PYTHONUNBUFFERED=1"
StandardOutput=append:/var/log/fastchat-controller.log
StandardError=append:/var/log/fastchat-controller.log

[Install]
WantedBy=multi-user.target

[HealthCheck]
Type=exec
ExecStart=netstat -an | grep -w :21001
Interval=10s
TimeoutStartSec=5s